
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body {
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:2em;
    flex-wrap: nowrap;
}
form{
    padding:2em;
    margin:1em;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
button{
    margin: 1.5em;
    text-decoration: none;
    border: 0.1em black solid;
    border-radius: 0.2em;
    background-color: rgb(222, 151, 151);
    padding: 0.8em;
    cursor: pointer;

}
textarea{
    text-decoration: none;
    border: 0.1em rgb(150, 146, 146) solid;
    border-radius: 0.2em;
    background-color: antiquewhite;
    text-align: center;
}
#container{
    
    border: 0.1em black solid;
    border-radius: 0.2em;
    display: block;

}
#prm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(223, 237, 69, 0.566);
    border: 0.1em black solid;
    border-radius: 0.2em;
    margin: 1em;;
    padding: 1em;
    margin-bottom: 2em;

}
#post{
    margin:2em;
}
#non{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 0.1em black solid;
    border-radius: 0.2em;
    margin: 1em;;
    padding: 1em;
    margin-bottom: 2em;

    
}
#name{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:start;
    margin-bottom: 2em;;
    font-size: 0.7em;
}
#date{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:end;
    margin-top: 3em;;
    font-size: 0.6em;

}
h2{
    margin:2em;
    border: 0.1em black solid;
    border-radius: 0.2em;
    padding:2em;
}
#vote{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.count{
    margin: 0.1em;
    text-decoration: none;
    border: 0.08em black solid;
    border-radius: 0.2em;
    padding: 0.8em;
        font-size: 0.5em;
        width: 10%;
    
}
    .vote-btn{
        position: relative;
        font-size: 0.5em;
    margin: 0.1em;
    border: 0.05em black solid;
    border-radius: 3em;
    padding: 0.3em;
    }
    .form{
        margin: 0;
        padding: 0;
    }
    #down .vote-btn{
        padding-top: 1.2em;
    }
    
    #up .vote-btn{
        padding-bottom: 1.2em;
    }
    .upedClass{
        background-color: rgba(33, 242, 33, 0.581) !important;
    }
    .downedClass{
        background-color: rgba(237, 76, 76, 0.884) !important;
    }
    .selected{
        background-color: rgba(87, 191, 125, 0.781);
    }
</style>
<body>
    <form id="form" method="post" action="/posting.ejs">
        <textarea name="te" cols="40" rows="10" required placeholder="What's On Your Mind"></textarea>
    <button type="submit">Post</button>
    </form>
    <h2>Feed Of The Day<div>
        <form id="select" action="/posting/filter" method="post">
            <select name="selection">
                <option  value="Date" class="<%if(option==0){%>selected<%}%>">By Date (Default)</option>
                <option  value="Popularity" class="<%if(option==1){%>selected<%}%>">By Popularity</option>
            </select>
            <button id="Filter-btn" type="submit">Filter</button>
            
        </form>
    </div></h2>
    <div id="container">
        <% 
        function exist(a,e){
         for(let k=0;k<a.length;k++)if(a[k]==e)return true;return false;
        }
        let count=0;
        allposts.forEach((e)=>{
            count+=1;
            let uped=exist(e.upvoters,email);
            let downed=exist(e.downvoters,email);
            let upedClass='',downedClass='';
            if(uped)upedClass='upedClass'
            if(downed)downedClass='downedClass'
            console.log(downedClass);
            if(e.prime){
               %> 
               <div id="prm">
                <div id="name"><%=e.username%></div>
                <div id="post"><%=e.post%></div>
                <div id="date"><%=e.date%></div> 

            <div id="vote">
                <form id="upvoting <%=count%>" class="form"  >
                    <input id="upvoting-input <%=count%>" name="in" value="<%=e.id%>" type="hidden">
                    <input id="upem <%=count%>"  value="<%=email%>" type="hidden">
                 
                <div id="up" value="1"><button id="plus <%=count%>" name="up-btn" class="vote-btn <%=upedClass%>" type="submit" value='<%=uped%>'>U</button></div></form>
                <div id="count <%=count%>" name="count" value="<%=e.id%>" class="count"><%=e.vote%></div>
                <form id="downvoting <%=count%>"  class="form" >
                    <input id="downvoting-input <%=count%>" name="in" value="<%=e.id%>" type="hidden">
                    <input id="downem <%=count%>"  value="<%=email%>" type="hidden">
                <div id="down" value="-1"><button id="minus <%=count%>" name="down-btn" class="vote-btn <%=downedClass%>" type="submit" value='<%=downed%>'>D</button></div>
            </form>
                </div>
            
            </div>
            <%
            }
            else{%>
                <div id="non">
            <div id="name"><%=e.username%></div>
            <div id="post"><%=e.post%></div>
            <div id="date"><%=e.date%></div> 
            <form id="voting"  action="/voting" method="post">
            <div id="vote">
                <form id="upvoting <%=count%>"  class="form">
                    <input id="upvoting-input <%=count%>" name="in" value="<%=e.id%>" type="hidden">
                    <input id="upem <%=count%>"  value="<%=email%>" type="hidden">
                <div id="up" value="1"><button type="submit" id="plus <%=count%>" name="up-btn" class="vote-btn <%=upedClass%>" value="<%=uped%>">U</button></div>
            </form>
                <div id="count <%=count%>" name="count" value="<%=e.id%>" class="count"><%=e.vote%></div>
                <form id="downvoting <%=count%>"  class="form">
                    <input id="downvoting-input <%=count%>" name="in" value="<%=e.id%>" type="hidden">
                    <input id="downem <%=count%>"  value="<%=email%>" type="hidden">
                <div id="down" value="-1"><button id="minus <%=count%>" name="down-btn" class="vote-btn <%=downedClass%>" value="<%=downed%>" type="submit">D</button></div>
            </form>
                </div>
            </form>
            </div>
</div><%
            }
        })%>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket=io();//starting client side socket


         let frm=document.getElementsByClassName('form');//getting all available forms
        for(let e in frm){
            let v=frm[e];
         console.log(v);
         let el=document.getElementById(v.id)//getting each form by id
        el.addEventListener('submit',e=>{//check if form is submitted
            console.log("got submisson");
            e.preventDefault();
            let id=el.id,ok=false,myid='';
            let subbutton=e.submitter;
            for(let k =0;k<id.length;k++){
                if(id[k]==' '){ok=true;continue;}
                if(ok){myid+=id[k];

                }
            }console.log(subbutton.id);
            if(subbutton.id[0]=='p'&&subbutton.value=='false'){
              let disp=document.getElementById('count '+myid);
              let v=parseInt(disp.innerText);
            let other=document.getElementById('minus '+myid);
              v+=1;
              if(other.value=='true'){subbutton.value='false';other.className='vote-btn'}
              else {subbutton.value='true',subbutton.className+=' upedClass'; }
              other.value='false';

              
              disp.innerText=v;
              let data={};
              let email=document.getElementById('upem '+myid).value;
              let id=document.getElementById('upvoting-input '+myid).value;
              console.log("email "+email)
              data.uid=email;
              data.id=id;
              socket.on('connect',()=>console.log("client connected"))
              socket.emit('upvote',data)



              

            }
            else if(subbutton.id[0]=='m'&&subbutton.value=='false'){
                console.log("hi");
              let disp=document.getElementById('count '+myid);
              let v=parseInt(disp.innerText);
            let other=document.getElementById('plus '+myid);
              v-=1;
              if(other.value=='true'){subbutton.value='false';other.className='vote-btn'}
              else{ subbutton.value='true';subbutton.className+=' downedClass';;}
              other.value='false';
              disp.innerText=v;
              let data={};
              let email=document.getElementById('downem '+myid).value;
              let id=document.getElementById('downvoting-input '+myid).value;
              data.uid=email;
              data.id=id;
              socket.emit('downvote',data)



            }
        })

        }

    </script>
</body>
</html>