<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        padding: 0;
        margin:0;
        box-sizing: border-box;
    }
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    #title{
        padding: 1em;;
        margin: 1em;;
        border:0.08em black solid;
        border-radius: 1em;
    }
    #quest1{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #quest2{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #quest3{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    input{
        padding: 1em;
        margin: 1em;
        appearance: none;
        border:0.08em black solid;
        border-radius: 1em;
        transition: 0.2s;

        
    }
    input:checked{
        border-radius:0.5em;
        background-color: rgba(8, 130, 16, 0.659);
        transition: 0.2s;

        
    }
    input:active{
        border-radius:0.8em;
        background-color: rgba(230, 255, 1, 0.659);
        

        
    }
    img{
        width:20em;
        height:20;
        border: 0.08em black solid;
        border-radius:1em ;
        margin:5em;
    }
    form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 0.08em black solid;
        border-radius:1em ;
        padding: 1em;
    }
    label{
        border:0.08em solid black ;
        border-radius: 1em;
        padding:1em;
        margin-top:2em;
        width: 100%;
        background-color: rgb(126, 57, 57);
        font-size: 1.7em;
        color: white;
    }

   
</style>
<body>
    <h1 id="title">Welcome To <%=testname%> Test </h1>
    <div id="time"><p>Time Left:</p><span id="time-left"></span></div>
    <form id="test" name="test" method="post" action="/testSubmit">
        
        <label for="q1">Question 1 :</label>
       <img src="c++/q<%=quests[0]%>.png"> <div id="quest1" class="inputs">
        <input type="radio" name="q1" value="1"><%=answers[testname][quests[0]-1][0]%>
        <input type="radio" name="q1" value="2"><%=answers[testname][quests[0]-1][1]%>
        <input type="radio" name="q1" value="3"><%=answers[testname][quests[0]-1][2]%></div>
        <br>
        <label for="q2">Question 2 :</label>
       <img src="c++/q<%=quests[1]%>.png"> <div id="quest2" class="inputs">
        <input type="radio" name="q2" value="1"><%=answers[testname][quests[1]-1][0]%>
        <input type="radio" name="q2" value="2"><%=answers[testname][quests[1]-1][1]%>
        <input type="radio" name="q2" value="3"><%=answers[testname][quests[1]-1][2]%></div>
       <br>
        <label for="q3">Question 3 :</label>
        <img src="c++/q<%=quests[2]%>.png"><div id="quest3"  class="inputs">
        <input type="radio" name="q3" value="1"><%=answers[testname][quests[2]-1][0]%>
        <input type="radio" name="q3" value="2"><%=answers[testname][quests[2]-1][1]%>
        <input type="radio" name="q3" value="3"><%=answers[testname][quests[2]-1][2]%></div>
        <br>
        <button type="submit">Submit answers</button>
    </form>



    <script src="/socket.io/socket.io.js"></script>
    <script id="ejs-data" type="application/json" tl=<%-timeleft%>>
        
    </script>

    <script >
        let time=document.getElementById('time-left');
    let id;
        function timer(){if(timeleft==0){time.innerText='done';timeleft--
       }
        else if(timeleft<=-1){clearInterval(id)
        location.reload();

        }
        
      else{ time.innerText=timeleft; timeleft--;}
        console.log(timeleft);

        }
        let ejs=document.getElementById('ejs-data');
        let timeleft=parseInt(ejs.getAttribute('tl'));
        if(timeleft>0){
        id=setInterval(timer,1000);

        }
       console.log("some")
       if(timeleft<0){
       }
       
    </script>
</body>
</html>