<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
}
    #list{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border:black solid 0.08em;
        border-radius:0.5em;
        padding:4em;
        transition: 0.3s;
        margin:5em;

    }
    #list:hover{
        border:black solid 0.08em;
        border-radius:0.5em;
        padding:5em;
        transition: 0.3s;

    }
    li div{
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    }
    #info{
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    border-left:solid 0.1em;
    margin:auto 1em auto 5em;
    padding-left:3em ;
    padding-right:3em ;

    }
    li {
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    width:100%;
    margin:1em;
    border: 0.1em solid black;
    }
    #prm:hover{
background-color: rgba(77, 108, 55, 0.725);;transition: 0.3s;
    }
    #me:hover{
background-color: rgb(85, 126, 227);;transition: 0.3s;
    }
    li:hover #pdp{
        background-color: white;
        transition: 0.3s;
        font-size: 1.1em;
    }
    #info span{
    align-items: center;
    text-align: center; 
    margin:0.5em;
    padding:0.5em;

    }
    ul{
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;

    }
    #prm{
        background-color: rgba(147, 146, 143, 0.788);
         transition: 0.3s;
    }
    #me{
        background-color: rgba(231, 231, 63, 0.755);
    }
    #normal{
        background-color: rgba(77, 45, 38, 0.755);
    }
    #pdp{
        display: flex;
        padding:1em;
        margin:1em;
        border: 0.1em solid black;
        border-radius: 0.2em;
        width:5em;
        height: 5em;
        text-align: center;
        align-items: center;
        justify-content:center;
        transition: 0.3s;
        
    }
    .container{
        display: flex;
        padding:0.5em;
        flex-direction: row;
        align-items: center;
        text-align: center;

    }
    .age,.points{
        font-size:0.7em;
    }
    .name{
        font-size:1.2em;

    }
    .status{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .status p{
        background-color: green;
        color: green;
        width:1.2em;
        border-radius: 3em;

    }
    .disc{
        background-color: red !important;
        color: red !important;
    }
</style>
<body>
    <h1>All Users On The Plateform</h1>
    <div id="list">
        <ul>
           <% 
           let count=0;
           all_users.forEach((el)=>{count++;
            if(count<4){%>
                <li id="me">
                    <div class="container">
                        <div id="pdp"><%
                            switch(count){
                                case 1 :%>1st<%break;
                                case 2 :%>2nd<%break;
                                case 3 :%>3rd<%break;
                            }
                            %></div>
                        <div id="info">
                            <span class="name"><%=el.username%></span>
                            <span class="age">Age <%=el.age%></span>
                            <span class="points">Points <%=el.points%></span>
                        </div>
                    </div>
                </li>
    

           <%  }
            else if(count<11){%>
            <li id="prm">
                <div class="container">
                    <div id="pdp"><%=count%>th</div>
                    <div id="info">
                        <span class="name"><%=el.username%></span>
                        <span class="age">Age <%=el.age%></span>
                        <span class="points">Points <%=el.points%></span>
                    </div>
                </div>
            </li>

           <% }
            else{%>
                <li id="normal">
                    <div class="container">
                        <div id="pdp"><%=count%>th</div>
                        <div id="info">
                            <span class="name"><%=el.username%></span>
                            <span class="age">Age <%=el.age%></span>
                            <span class="points">Points <%=el.points%></span>
                        </div>
                    </div>
                </li>
                
           <% }
            })%>

        </ul>

    </div>
</body>
</html>